body {
  font-family: "Liberation Sans", Helvetica, Arial, sans;
}

#footer {
  text-align: center;
}

#nav-heading {
  font-family: "Liberation Mono", "Courier New", monospace;
  font-weight: bold;
}

figure {
  border: 1px solid #42464c;
  padding: 4px;
  margin: 1rem;
  margin-top: 0;
}

figcaption p {
  line-height: 1;
  font-size: small;
  text-align: right !important;
}

figcaption a {
  color: #42464c;
  font-style: italic;
  border-bottom: 0 !important;
}

.smaller {
  font-size: 75%;
  line-height: normal;
  margin-top: 5em;
}
.logos p a img {
  margin: 1em;
}
.logos p a:not(.button) {
  border-bottom: none;
}
.content .smaller p {
  margin-bottom: 0;
}
.align-right {
  float: right;
}
.align-left {
  float: left;
}

.nav-right {
  max-width: 30%;
}
.nav-left {
  max-width: 70%;
}

.nav-item a,
a.nav-item {
  color: #747a83;
}

h2,
.content h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}
